


.footer {
  background: #0a0a0a;
  color: #fff;
  padding: 40px 20px;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}


.footerLinks {
  display: flex;
  gap: 40px;
}

.footerLinks h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footerLinks ul {
  list-style: none;
  padding: 0;
}

.footerLinks li {
  margin-bottom: 8px;
}

.footerLinks a {
  color: #bbb;
  text-decoration: none;
}

.footerLinks a:hover {
  color: #00eaff;
}

.iconsTabler{
  text-decoration: none ;
 color: rgb(71, 71, 71);
  display: flex;
  align-items: center
}


.footerContact {
  max-width: 300px;
}

.contactPhone {
  font-size: 20px;
  font-weight: bold;
}

.contactIcons {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.contactIcons img {
  width: 24px;
  height: 24px;
}

.callbackBtn {
  background: none;
  border: 2px solid #fff;
  color: #fff;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.callbackBtn:hover {
  background: #fff;
  color: #000;
}


.emailForm {
  display: flex;
  margin-top: 10px;
}

.emailForm input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.emailForm button {
  background: #00eaff;
  border: none;
  padding: 10px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}


.footerBottom {
  text-align: center;
  margin-top: 20px;
}

.paymentIcons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}

.paymentIcons img {
  height: 24px;
}

.footerBottom p, .footerBottom a {
  font-size: 14px;
  color: #bbb;
}

.footerBottom a:hover {
  color: #00eaff;
}
