html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .container{
   position: relative;
   display: flex;
   justify-content: center;

  }

.cardImage{
    width: 73.125rem;
    height: 25.4375rem;
    border-radius:129px 20px 20px 20px;
    overflow: hidden;
    background: #181718;
    position: relative;
    margin-bottom: 26rem;
    display: grid;
    justify-items: center
}

.cardImage2{
    margin-right: 120px;
}


.cardText{
    margin: 0 auto;
    color: white;
    text-align: center;
    font-size: 46px;
    font-weight: lighter;
    margin-top: 80px;
    max-height: 50px;
}

.cardToText{
    font-size: 46px;
    color: white;
    margin: 0 auto;
    position: relative;
    bottom: 50px;   
    left: 36.3rem; 
}

.blockText{
    font-weight: lighter;
    margin: 0;
    margin-bottom: 54px;
    height: 48px;
    max-width: 641px;
    font-size: 18px;
    color: #868686;
    text-align: center;
    line-height: 1.5;
}


.image1{
   position: absolute;
   left: 57rem;
   bottom: 6.8rem;
}



.image2{
     position: absolute;
     right: 51.9rem;
     bottom: -40px;
     transform: scale(1.3) rotate(70deg);
}

.inputContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
   
    margin-bottom: 78px;

}
 
/* .emailcom{
    position: relative;
    right: 26rem;
    width: 21px;
    height: 18px;
} */

.inputStroce{
    width: 425px;
    height: 68px;
    border-radius: 10px;
    background: #1F1E1F;
    color: white;
    font-size: 20px;
    padding-left: 20px;
    border: none;
    outline: none;
    font-size: 18px;
}

.bButton{
    width: 180px;
    height: 68px;
    border-radius: 10px;
    background: #33B7BC;
    color: white;
    font-size: 15px;
    border: none;
    outline: none;
    margin-left: 20px;
    cursor: pointer;
}