.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 260px;
   
}


.title{
    color: white;
    font-size: 70px;
    font-weight: 500;
    margin-top: 176px;
    margin-bottom: 80px;
}

.containerLink{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65px;
     margin-bottom: 50px;
}


.carNav{
    text-decoration: none;
    color: #414141;
    transition: 0.5s;
    font-weight: 500;
    font-size: 40px;

}

.carNav:hover{
    /* text-decoration: underline; */
    color: white;
    transition: 0.5s;
}

.fotoImage{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4 auto);
    position: relative;

}

.foto{
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.but{
    position: absolute;
    max-width: 200px;
    right: 60px;
    bottom:40 ;
}