:root {
  background: #0a0a0a;
}

.header {
  margin: 0 auto;
  color: white;
  padding-bottom: 250px;
  margin-top: 260px;
}

.mapContainer {
  width: 61.875rem;
  height: 840pt;
  position: relative;
}

.mapContainer {
  max-width: 61.875rem;
  max-height: 840px;
}

.Container {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.map {
  border-radius: 0px 20px 20px 0px;
  max-width: 111%;
  width: 111%;
  min-height: 102%;
  height: 102%;
}

.form {
  margin-left: 160px;
  margin-bottom: 267px;
}

.title {
  color: white;
  font-size: 50px;
  max-height: 52px;
  margin-bottom: 80px;
  margin-top: 20px;
}

.input1 {
  width: 330px;
  height: 90px;
}

.input2 {
  margin-top: 30px;
  width: 330px;
  height: 90px;
}

.input3 {
  margin-top: 30px;
  height: 90px;
  width: 330px;
}

.textarea {
  margin-top: 30px;
  width: 330px;
  height: 180px;
}

.button {
  margin-top: 43px;
  width: 310px;
  height: 90px;
  border: 2px solid #33b7bc;
  background-color: #191919;
  font-size: 18px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: background-color 0.5s ease;
  transition: 0.5s;
}

.button:hover {
  background-color: #33b7bc;
  transition: 0.5s;
  font-size: 20px;
}

.button:active {
  transition: none;
  background-color: #292929;
  border: 2px solid #292929;
  font-size: 13px;
  transition: 0.09s;
}

.input1,
.input2,
.input3,
.textarea {
  border-radius: 10px;
  background-color: #191919;
  font-size: 20px;
  color: #707070;
  border: 1px solid #191919;
}
