.burger {
  position: absolute;
  top: 75px;
  right: 20px;
  left: 50;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 5px;
  box-sizing: border-box;
  width: 61px;
  overflow: hidden;
}

.line {
  width: 61px;
  height: 2px;
  background-color: white;
  transition: transform 0.3s, opacity 0.3s;
  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
}

.burger.open .line:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}

.burger.open .line:nth-child(2) {
  transform: translateY(-6px) rotate(-45deg);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url("/foto.car/backgroundburger.webp") center/cover no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transform: translateY(-200%);
  transition: transform 0.5s ease-in-out;
  z-index: 1000;
}

.menu.open {
  transform: translateY(0);
}

.menu:not(.open) .logo {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.menu.open .logo {
  opacity: 1;
  transition: opacity 0.3s ease-in-out 0.2s;
}

.navLinks {
  font-size: 48px;
  font-weight: 500;
  color: #76828c;
  text-decoration: none;
  position: relative;
  display: inline-block;
  transition: 0.5s;
}

.nav {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 27px;
  margin-left: 90px;
}

.navLinks::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 10px;
  background-color: #29c7cc;
  clip-path: polygon(0 100%, 100% 100%, 95% 0, 0 0);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.navLinks:hover::after {
  transform: scaleX(1);
}

.navLinks:hover {
  color: white;
  transition: 0.5s;
}

.nav2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.generalLinks {
  /* display: block;
   */
  margin-top: 120px;
}

.address {
  font-size: 20px;
  font-weight: 300;
  color: #76828c;
  max-width: 420px;
  margin-left: 90px;
}

.number {
  color: white;
  font-weight: 700;
  font-size: 30px;
}

.imageLogoTele {
  padding: 10px;
  background-color: #34aadf;
  border-radius: 60px;
  transition: box-shadow 0.3s ease;
}

.imageLogoTele:hover {
  box-shadow: 0 0 15px rgba(52, 152, 219, 0.8);
}

.imageLogoWhats {
  padding: 10px;
  background-color: #43d854;
  border-radius: 60px;
  transition: box-shadow 0.3s ease;
}

.imageLogoWhats:hover {
  box-shadow: 0 0 15px rgba(0, 172, 26, 0.8);
}

.social {
  gap: 20px;
  display: inline-flex;
}

.mainContacts {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  gap: 20px;
  justify-content: end;
  margin-right: 50px;
}

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 30px;
  border-top: 1px solid #272727;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.logotype {
  margin: 15px;
}

@media screen and (max-width: 1450px) {
  .rental {
    display: none;
  }
  .logotype {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .navLinks {
    font-size: 30px;
  }
}

@media screen and (max-width: 950px) {
  .address {
    font-size: 10px;
  }
  .number {
    font-size: 15px;
    font-weight: 500;
  }
}

@media screen and (max-width: 675px) {
  .address {
    display: none;
  }
  .navLinks {
    font-size: 20px;
  }
  .contacts {
    display: flex;
    justify-content: center;
  }
}
